<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Protect the King!</title>
  <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
