
  <div class="footer-bar">

    <div class="white side-margin-m site-by"><h1>Site by Danny Eng</h1></div>

    <div class="white side-margin-s contact-menu">

      <a href="https://www.linkedin.com/in/danny-eng/" target="_blank"><i class="fa fa-2x fa-linkedin-square side-margin-s" aria-hidden="true"></i></a>

      <a href="https://github.com/danny-eng" target="_blank"><i class="fa fa-2x fa-github side-margin-s" aria-hidden="true"></i></a>

    </div>

  </div>

</div>
