

<div class="main-container">

  <div class="navigation-bar">

    <div class="white side-margin-m logo">Protect the King!</div>

    <div class="side-margin-s navigation-menu">

      <div class="side-margin-s navigation-item"><a href="/auth/login">Login</a></div>

      <div class="side-margin-s navigation-item"><a href="/auth/register">Register</a></div>

      <div class="side-margin-s navigation-item"><a href="/auth/logout">Logout</a></div>

    </div>

  </div>


