<% include ./partials/boilerplate-game %>
<% include ./partials/navigation-game %>

<div class="main-content">

  <canvas id="game-window" height="550px" width="800px">

    <h1>Sorry, your browser does not support this game. Please consider using a newer browser</h1>

  </canvas>

  <div id="counter" class="label white">

  </div>

</div>

<% include ./partials/end %>
