<% include ./partials/boilerplate-game %>
<% include ./partials/navigation-game %>

<div class="main-content">

  <canvas id="game-window">

    <h1>Sorry, your browser does not support this game. Please consider using a newer browser</h1>

  </canvas>

</div>

<% include ./partials/end %>
