<% include ./partials/boilerplate %>
<% include ./partials/navigation %>

<div class="main-content">

  <div class="white splash">

    <h1>Protect the King!</h1>

  </div>

</div>

<% include ./partials/end %>
